spring:
  application:
    name: auth-session-cookie

  datasource:
    url: jdbc:postgresql://db:5432/security_simple_project_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org:
      springframework:
        security: DEBUG
        orm.jpa: DEBUG
        jdbc.core: DEBUG

app:
  admin:
    enabled: true
    email: ${ADMIN_EMAIL:admin@example.com}
    password: ${ADMIN_PASSWORD:Test234!}
    name: ${ADMIN_NAME:Admin}
    role: ROLE_ADMIN

  user:
    enabled: true
    email: ${USER_EMAIL:user@example.com}
    password: ${USER_PASSWORD:user123!}
    name: ${USER_NAME:User}
    role: ROLE_USER