<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${not #strings.containsIgnoreCase(#httpServletRequest.requestURI, '/auth/login')}"
     th:replace="~{navigation/navbar :: nav}"></div>
<br/>

<form th:action="@{/employees/{id}/update-password(id=${user.id})}" method="post" th:object="${user}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="hidden" name="_method" value="PATCH">
    <label for="oldPassword">Enter old password: </label>
    <input type="password" th:field="*{oldPassword}" id="oldPassword">
    <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old password error</div>
    <br/>
    <label for="newPassword">Enter new password: </label>
    <input type="password" th:field="*{newPassword}" id="newPassword">
    <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New password error</div>
    <br/>
    <input type="submit" value="Change password!">
</form>

</body>
</html>